<div class="col-md-12" ng-controller="ArticlesCtrl">

    <section class="content-header">
        <h1>Articles</h1>
    </section>
    <section class="content">
        <div class="btn btn-primary btn-md" ui-sref="article">Create new</div><br/><br/>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Title
                    </th>
                    <th>
                        Created on
                    </th>
                    <th>
                        Published
                    </th>
                    <th>
                        
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>My first article</td>
                    <td>Yesterday</td>
                    <td>Yes</td>
                    <td>
                        <div class="btn btn-xs btn-warning">Unplish</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>

</div>





